/* Estilos de ejercicio Flex */
main {
	display: flex;
	min-height: 400px;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}

.contenedor {
	padding: 40px 60px;
	margin: 10px;
	box-shadow: 0 5px 2px rgba(0, 0, 0, 0.15);
}

#div1 {
	background-color: aquamarine;
}

#div2 {
	background-color: rgb(255, 253, 127);
}

#div3 {
	background-color: rgb(255, 146, 127);
}

#div4 {
	background-color: rgb(146, 255, 127);
}

#div5 {
	background-color: rgb(255, 127, 251);
}

#div6 {
	background-color: rgb(140, 127, 255);
}

@media screen and (max-width: 700px) {
	main {
		justify-content: center;
	}
}
