footer {
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 20px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-principal);
	color: var(--color-blanco);
	text-align: center;
}

#social svg {
	stroke: var(--color-blanco);
}

#social svg:hover {
	stroke: var(--color-principal-hover);
}

footer a {
	color: var(--color-blanco);
}

/* Media queries */
@media screen and (max-width: 700px) {
	footer {
		justify-content: center;
		flex-wrap: wrap-reverse;
	}

	footer > * {
		flex-basis: 100%;
	}
}
