header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 25px 50px;
	background-color: var(--color-prinicipal-disabled);
}
header > a {
	margin-bottom: 0;
}

#logo {
	height: 75px;
}

nav > ul {
	display: flex;
}

nav a {
	display: block;
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 5px;
	background-color: var(--color-principal);
	color: var(--color-blanco);
}

nav a:hover {
	background-color: var(--color-principal-hover);
	color: var(--color-blanco);
}

@media screen and (max-width: 700px) {
	header {
		justify-content: center;
	}

	header > a {
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}

	#logo {
		margin: 0 auto;
	}
}
