header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
	width: 100%;
	padding: 0px 50px;
	background-color: var(--color-prinicipal-disabled);
}
header > a {
	margin-bottom: 0;
}

#logo {
	height: 75px;
}

nav > ul {
	display: flex;
}

nav a {
	display: block;
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 5px;
	background-color: var(--color-principal);
	color: var(--color-blanco);
}

nav a:hover {
	background-color: var(--color-principal-hover);
	color: var(--color-blanco);
}
