/* Estilos generales */
:root {
	--color-principal: #126458;
	--color-principal-hover: #1db59f;
	--color-prinicipal-disabled: #ccdcda;
	--color-secundario: #c6a326;
	--color-texto: #404040;
	--color-neutro: #ececec;
	--color-blanco: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

html {
	background-color: var(--color-blanco);
}

body {
	position: relative;
	margin: 150px 50px 0 50px;
	font-family: "Lato", sans-serif;
	color: var(--color-texto);
}

/* Tipografías */
h1 {
	font-size: 2em;
	font-weight: 800;
	margin-bottom: 30px;
	color: var(--color-principal);
}

h2 {
	font-size: 1.75em;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 15px;
}

p {
	margin-bottom: 1em;
}

a {
	display: inline-block;
	color: var(--color-principal);
	margin-bottom: 1em;
}

a:hover {
	color: var(--color-principal-hover);
}

/* Comprobador de imágenes sin atributo alt */
img:not([alt]) {
	border: 3px solid red;
}

/* Main */
main {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 30px;
	margin: 20px auto;
	background-color: var(--color-neutro);
}

#principal,
#contacto {
	width: 70%;
	padding: 20px;
	margin-right: 20px;
}

article {
	padding: 20px;
	margin-bottom: 20px;
	border-top: 1px solid var(--color-secundario);
	border-bottom: 1px solid var(--color-secundario);
}

article::before {
	content: "";
	width: 100%;
	height: 100px;
	display: inline-block;
	background-image: url("https://placehold.co/400x100?text=imagen");
}

aside {
	padding: 20px;
	width: 30%;
	margin-top: 20px;
	background-color: var(--color-blanco);
	border: 1px solid var(--color-secundario);
	border-radius: 10px;
	text-align: right;
}

a[type="application/pdf"]::after {
	display: inline-block;
	content: "";
	background-image: url(assets/images/logo/pdf_512x512.png);
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

/* Tabla */
table {
	width: 100%;
	caption-side: bottom;
	table-layout: auto;
	border-collapse: collapse;
	text-align: center;
}

th,
td {
	padding: 10px;
}

table > caption {
	font-style: italic;
	padding-top: 1em;
}

thead:first-child {
	background-color: var(--color-principal);
	color: var(--color-blanco);
}

tbody tr:nth-child(odd) {
	background-color: var(--color-blanco);
}
tbody tr:nth-child(even) {
	background-color: var(--color-prinicipal-disabled);
}

/* Formulario */
form {
	width: 100%;
}

.fila {
	margin-bottom: 10px;
}

.fila > label {
	float: left;
	width: 30%;
	margin-right: 10px;
}

.fila > input {
	display: block;
	padding: 5px 10px;
}

label[for="consulta"] {
	display: block;
}

button[type="submit"] {
	display: block;
	width: 100px;
	height: 30px;
	margin: 20px auto;
	border: none;
	border-radius: 5px;
	background-color: var(--color-principal);
	color: var(--color-blanco);
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: var(--color-principal-hover);
}

/* Icono Whatsapp */
#whatsapp {
	position: absolute;
	bottom: 220px;
	right: 20px;
	width: 60px;
	height: 60px;
	background-color: var(--color-secundario);
	border-radius: 5px;
	z-index: 3;
}

#whatsapp:hover {
	background-color: var(--color-principal-hover);
}

#icon-whatsapp {
	stroke: white;
	display: block;
	margin: 10px 0 0 10px;
}

/* Media Queries */
@media screen and (min-width: 701px) and (max-width: 1200px) {
	article::before {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	main {
		margin-top: 200px;
		flex-wrap: wrap;
	}

	#principal,
	aside {
		width: 100%;
	}

	aside {
		text-align: left;
	}

	.fila > label {
		width: 100%;
	}
}
